<!DOCTYPE html>
<html>
    <head>
        <title>Dealership Database</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                padding-left: 20px;
            }
            form, h1, h2 {
                width: 700px;
            }
            select, input[type="text"], input[type="email"], input[type="number"], textarea, input[type="submit"] {
                margin-top: 10px;
                box-sizing: border-box;
            }
            .message {
                margin-top: 20px;
                padding: 10px;
                background-color: #e7e7e7;
                border: 1px solid #d4d4d4;
            }
            table {
                margin-top: 20px;
            }
            .input-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .input-group > * {
                flex: 1; 
                margin-right: 10px; 
            }
            .input-group > *:last-child {
                margin-right: 0; 
            }
        </style>
    </head>
<body>
<h1>Dealership Database Interface</h1>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Commands Selection -->
<h2>Select a Command:</h2>
<select id="commandSelection" onchange="showForm(this.value)" style="width: 700px;">
    <option value="">Select a Query...</option>
    <option value="add_car">Add a Car</option>
    <option value="add_customer">Add a Customer</option>
    <option value="view_customer_transaction">View Customer Transaction</option>
    <option value="update_car_price">Update Car Price</option>
    <option value="add_service_appointment">Add Service Appointment</option>
</select>
<br>
    <!-- Add Car Form -->
    <div id="add_car" style="display:none;">
        <form action="/add_car" method="post">
            <div class="input-group">
            <input type="text" name="make" placeholder="Make">
            <input type="text" name="model" placeholder="Model">
            <input type="number" name="year" placeholder="Year">
            <input type="text" name="VIN" placeholder="VIN">
            <input type="number" name="purchase_price" placeholder="Purchase Price">
            <input type="number" name="sale_price" placeholder="Sale Price">
            <select name="status">
                <option value="available">Available</option>
                <option value="sold">Sold</option>
                <option value="maintenance">Maintenance</option>
            </select>
            <input type="number" name="dealership_id" placeholder="Dealership ID">
            </div>
            <input type="submit" value="Add Car">
        </form>
    </div>

    <!-- Add Customer Form -->
    <div id="add_customer" style="display:none;">
        <form action="/add_customer" method="post">
            <div class="input-group">
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="phone" placeholder="Phone Number">
            <input type="text" name="address" placeholder="Address">
        </div>
        <input type="submit" value="Add Customer">
        </form>
    </div>

    <!-- View Customer Transaction -->
    <div id="view_customer_transaction" style="display:none;">
        <form action="/view_customer_transaction" method="post">
            <select name="customer_id">
                {% for customer_id, first_name, last_name in customers %}
                    <option value="{{ customer_id }}">{{ first_name }} {{ last_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="View Transactions">
        </form>
    </div> 

    <!-- Update Car Price Form -->
    <div id="update_car_price" style="display:none;">
        <form action="/update_car_price" method="post">
            <div class="input-group">
                <input type="text" name="make" placeholder="Make" required>
                <input type="text" name="model" placeholder="Model" required>
                <input type="number" name="year" placeholder="Year" required>
                <input type="number" name="percentage" placeholder="Percentage" required>
            </div>
            <p>(positive percentage for markup, negative percentage for markdown)</p>
            <input type="submit" value="Update Car Price">
        </form>
    </div>

    <!-- New Service Appointment Form -->
    <div id="add_service_appointment" style="display:none;">
        <form action="/add_service_appointment" method="post">
            <div class="input-group">
                <input type="text" name="make" placeholder="Make" required>
                <input type="text" name="model" placeholder="Model" required>
                <input type="number" name="year" placeholder="Year" required>
                <select name="service">
                    <option value="Oil Change">Oil Change</option>
                    <option value="Tire Rotation">Tire Rotation</option>
                    <option value="Brake Inspection">Brake Inspection</option>
                    <option value="Engine Diagnostic">Engine Diagnostic</option>
                    <option value="Transmission Fluid Replacement">Transmission Fluid Replacement</option>
                </select>
                <input type="number" name="service_cost" placeholder="Service Cost" required step="0.01">
                <input type="number" name="employee_id" placeholder="Employee ID" required>
            </div>
            <input type="submit" value="Add Service Appointment">
        </form>
    </div>




<br>

<!-- Only View Table Option -->
<h2>View a Specific Table:</h2>
<form action="/view_specific_table" method="post" style="width: 700px;">
    <select name="selected_table" style="width: 700px;">
        <option value="">Select a Table to View...</option>
        {% for table in tables %}
        <option value="{{ table }}">{{ table }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="View Selected Table" style="width: 700px;">
</form>

<br>

<!-- Textarea for custom query -->
<h2>Enter a Custom Query:</h2>
<form action="/execute_query" method="post" style="width: 700px;">
    <textarea name="query" rows="4" cols="50" placeholder="Enter Custom SQL query here" style="width: 700px;"></textarea>
    <br>
    <input type="submit" value="Execute Custom Query" style="width: 700px;">
</form>

<br>
<br>
<footer>
    <p>Made by Leah Mirch and Andrew Leutzinger. April 2024.</p>
</footer>

<script>
    function showForm(selectedValue) {
        // Initially hide both forms
        document.getElementById('add_car').style.display = 'none';
        document.getElementById('add_customer').style.display = 'none';
        document.getElementById('view_customer_transaction').style.display = 'none';
        document.getElementById('update_car_price').style.display = 'none';
        document.getElementById('add_service_appointment').style.display = 'none';

        // Show the selected form
        if (selectedValue === 'add_car') {
            document.getElementById('add_car').style.display = 'block';
        } else if (selectedValue === 'add_customer') {
            document.getElementById('add_customer').style.display = 'block';
        } else if (selectedValue === 'view_customer_transaction') {
            document.getElementById('view_customer_transaction').style.display = 'block';
        } else if (selectedValue === 'update_car_price') {
            document.getElementById('update_car_price').style.display = 'block';
        } else if (selectedValue === 'add_service_appointment') {
            document.getElementById('add_service_appointment').style.display = 'block';
        }
        
    }
</script>
</body>
</html>
